.landing-main-img {
  padding-top: 96px;
}
.landing-main-title {
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  line-height: 0.9;
  letter-spacing: -2%;
  text-align: center;
  vertical-align: bottom;
  color: $fp-color-title;
  margin-top: 16px;
  margin-bottom: 16px;
}

.goRegister {
  display: flex;
  align-items: center;
  justify-content: center; /* текст по центру */

  width: 100%;
  max-width: 400px;
  // margin: 0 auto 24px;
  background-color: rgba(1, 52, 128, 1);
  border-radius: 40px;
  padding: 22px 20px;

  color: white;
  cursor: pointer;

  position: relative;
  border: none;

  font-weight: 500;
  font-size: 20px;
  line-height: 0.9;
  letter-spacing: -2%;
  vertical-align: bottom;
}
.arrow-circle {
  position: absolute;
  right: 8px;
  top: 8px;
  bottom: 8px;

  aspect-ratio: 1 / 1; /* делает круг */
  border-radius: 50%;

  background: linear-gradient(90deg, #005de0 0%, #3388ff 100%);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* стрелка */
.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body.landing main {
  padding-bottom: 0;
}
.select-arrow {
  width: 20px;
}

.goLogin {
  margin-top: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
}
.reg-container {
  margin: 0;
  // margin-top: auto; /* 🔥 ВОТ МАГИЯ */
  padding-bottom: 16px;
}
.gr {
  background-color: rgba(0, 93, 224, 1);
}
// .reg-container {
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
// }
// .goLogin-circle {
// }
// newtest@gmail.com
// background: #57575740;
