.table {
  width: calc(100% + 4px);
  margin-left: -2px;
  // margin-right: -6px;
  border-collapse: separate;
  border-spacing: 2px;
  table-layout: fixed;
}
// td,
// th {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }
th {
  background: #005de0;
  color: white;
  border-radius: 8px;
  //   padding: 6px 10px;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
}

.thStudent {
  text-align: left;
  padding-left: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
  min-width: 110px;
}

.student-index {
  width: 40px;
  color: #f3c969;
  font-weight: 600;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}

.student {
  background: #2f3642;
  text-align: left;
  padding-left: 14px;
  cursor: pointer;
  color: $accent-text-color;
  font-style: Medium;
  vertical-align: middle;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0%;
}

.student:hover {
  background: rgba(255, 255, 255, 0.05);
}

td {
  border-radius: 8px;
  //   padding: 6px 10px;
  text-align: center;
}

.cell {
  height: 30px;
  background: #e9e9e9;
  border-radius: 6px;
  font-weight: 600;
  line-height: 36px;
  padding: 0;
  transition: 0.3s;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
}
.cell:hover {
  transform: scale(1.1);
}

.student,
.student-index {
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.th-trophy {
  background-color: #b38e44;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 0;
  svg {
    display: block;
    margin: 0 auto;
  }
}
