.streams-main-img {
  padding-top: 96px;
}
.streams-main-title {
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  line-height: 0.9;
  letter-spacing: -2%;
  text-align: center;
  vertical-align: bottom;
  color: $fp-color-title;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #fff;
}
