// a,
// button,
// .hero__button {
//   transition:
//     fill 300ms ease,
//     color 300ms ease,
//     background-color 300ms ease,
//     box-shadow 300ms ease;
// }

.stats {
  padding: 20px;
  background: #2a4bb9;
  color: white;
  margin-bottom: 20px;
}
body {
  font-family: $main-font;
  font-weight: 400;
  font-size: 12px;
  background-color: $background-color-main;
  margin-bottom: auto;
  height: 100vh;
  margin: 0;
}

main {
  background-color: $background-color-main;
}
.btn-back {
  display: flex;
  margin-top: 24px;
  margin-left: 24px;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.35;
  letter-spacing: 0%;
  color: $color-darck-gray-text;
  background-color: transparent;
  border: none;
  align-items: center;
}
