.stats {
  padding: 20px;
  background: #2a4bb9;
  color: white;
  margin-bottom: 20px;
}
body.landing {
  background-image:
    linear-gradient(180deg, #003580 20%, rgba(0, 22, 54, 0) 60%),
    url("/bcg/main_bcg_1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body {
  width: 100%;
  font-family: $main-font;
  font-weight: 400;
  font-size: 12px;
  background-color: $background-color-main;
  margin-bottom: auto;
  min-height: 100vh;
  margin: 0;
  // padding-bottom: 40px;
}

main {
  // background-color: $background-color-main;
  padding-bottom: 60px;
}
.btn-back {
  display: flex;
  margin-top: 24px;
  margin-left: 24px;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.35;
  letter-spacing: 0%;
  color: $color-darck-gray-text;
  background-color: transparent;
  border: none;
  align-items: center;
  padding: 0;
  span {
    padding-left: 6px;
  }
}
.left-svg {
  display: flex;
  align-items: center;
  // margin-left: 6px;
}
