.sprints-scores {
  width: calc(100% + 4px);
  margin-left: -2px;
  border-collapse: separate;
  border-spacing: 2px;
  table-layout: fixed;
  td,
  th {
    text-align: center;
  }

  th {
    font-size: 16px;
    font-weight: 300;
    height: 30px;
    color: rgba(255, 255, 255, 0.5);
  }
  & .sb {
    color: #ffdc73;
    background-color: #b38e44;
    font-weight: 600;
  }

  // 🔢 средний бал
  .avg {
    background: #2f3642;
    color: #d9b54a;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.15);
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
  }

  // 📦 спринт
  .sprint-name {
    background: #2f3642;
    color: $accent-text-color;
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    text-align: start;
    padding: 1px 16px;
    font-weight: 500;
    font-style: Medium;
    line-height: 1;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  // 🧱 ячейки как в sprintPage
  .cell {
    height: 30px;
    width: 30px;
    background: #e9e9e9;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
  }

  .cell:hover {
    transform: scale(1.1);
  }
}
.section-table-title {
  font-weight: 400;

  font-size: 24px;
  line-height: 1;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: $color-white;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}
.section-table-title::before {
  content: "";
  flex: 1;
  height: 1px;
  border-bottom: 0.5px solid #ffffff;
  opacity: 0.25;
  margin-bottom: 32px;
  margin-top: 32px;
}
.comments {
  h2 {
    color: $blue-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
  }
  display: flex;
  flex-direction: column;
}
.comments::before {
  content: "";
  flex: 1;
  height: 1px;
  border-bottom: 0.5px solid #ffffff;
  opacity: 0.25;
  margin-bottom: 32px;
  margin-top: 32px;
}
.comments-slider {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 16px;
}

.comment-card {
  min-width: 80%; /* 👈 ключевой момент */
  max-width: 80%;
  flex-shrink: 0;
  scroll-snap-align: start;

  background: rgba(255, 255, 255, 0.04);
  border-radius: 12px;
  padding: 16px;
  border: 0.5px solid rgba(146, 156, 168, 1);
  font-weight: 300;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: rgba(201, 201, 201, 1);
  display: flex;
  flex-direction: column;
}
.comments-slider::-webkit-scrollbar {
  display: none;
}
.comment-title {
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 1.35;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.25);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  & .comment-task {
    font-weight: 300;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(217, 181, 74, 1);
  }
  & .comment-task::before {
    content: "";
    flex: 1;
    height: 100%;
    border-left: 0.5px solid #ffffff;
    opacity: 0.25;
    margin: 0 8px;
  }
}
.comment-date {
  margin-bottom: 0;
  margin-top: auto;
  margin-left: auto;
}
