@charset "UTF-8";
/* COLORS */
/*background COLORS */
/* FONTS */
/* OTHERS */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #b1b3b5 inset !important;
  -webkit-text-fill-color: black !important;
  -webkit-transition: background-color 9999s ease-in-out 0s;
  transition: background-color 9999s ease-in-out 0s;
}

.stats {
  padding: 20px;
  background: #2a4bb9;
  color: white;
  margin-bottom: 20px;
}

body.landing {
  background-image: linear-gradient(180deg, #003580 20%, rgba(0, 22, 54, 0) 60%), url("/bcg/main_bcg_1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  width: 100%;
  font-family: "Geologica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  background-color: #2a2f36;
  margin-bottom: auto;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  padding-bottom: 60px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.btn-back {
  display: flex;
  margin-top: 24px;
  margin-left: 24px;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.35;
  letter-spacing: 0%;
  color: #7a828c;
  background-color: transparent;
  border: none;
  align-items: center;
  padding: 0;
}
.btn-back span {
  padding-left: 6px;
}

.left-svg {
  display: flex;
  align-items: center;
}

.container {
  margin: 0;
  padding: 0 24px;
}

.header__container {
  background: #003580;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #a7a8a3;
}
.header__container .logo {
  display: block;
  line-height: 0;
}

.mob-menu {
  background: #003580;
  border: none;
  cursor: pointer;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px; /* расстояние между линиями */
  width: 32px;
  height: 32px;
}

.icon-line {
  width: 40px;
  height: 2.5px;
  background: #a7a8a3;
  display: block;
}

.top {
  color: #a7a8a3;
  background-image: linear-gradient(90deg, rgba(40, 46, 54, 0.25) 0%, rgba(68, 76, 87, 0.25) 100%);
  display: flex;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0%;
  align-items: center;
  padding: 9px 16px;
  gap: 8px;
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  border-top: 0.4px solid #72736f;
}
.top h3 {
  font-weight: 400;
  font-size: 12px;
}
.top p {
  font-weight: 300;
  opacity: 50%;
}

.under_top {
  margin-top: 40px;
}
.under_top h1,
.under_top h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0%;
  font-style: normal;
  color: #ffffff;
}
.under_top h1 {
  padding-right: 16px;
}
.under_top h2 {
  padding-left: 16px;
  opacity: 50%;
  border-left: 1px solid gray;
}
.under_top .under_top-title {
  display: flex;
  color: #ffffff;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #a7a8a3;
  margin-top: 32px;
  opacity: 0.25;
}

.blue-title {
  margin-top: 32px;
  color: #80b4ff;
  font-size: 14px;
  margin-bottom: 12px;
}

.load-table-item {
  display: flex;
  padding: 2px 16px;
  justify-content: space-between;
  border: 0.5px solid #929ca8;
  margin-bottom: 4px;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
}

.load-table-item:hover {
  background: rgba(255, 255, 255, 0.05);
}

.stud-title {
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 500;
  color: #c3c6c9;
}

.right-svg {
  display: flex;
  align-items: center;
  padding: 6px;
}

.number {
  color: #d9b54a;
  font-family: Geologica;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.sprints-scores {
  width: calc(100% + 4px);
  margin-left: -2px;
  border-collapse: separate;
  border-spacing: 2px;
  table-layout: fixed;
}
.sprints-scores td,
.sprints-scores th {
  text-align: center;
}
.sprints-scores th {
  font-size: 16px;
  font-weight: 300;
  height: 30px;
  color: rgba(255, 255, 255, 0.5);
}
.sprints-scores .sb {
  color: #ffdc73;
  background-color: #b38e44;
  font-weight: 600;
}
.sprints-scores .avg {
  background: #2f3642;
  color: #d9b54a;
  font-weight: 600;
  border: 1px solid rgba(255, 255, 255, 0.15);
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}
.sprints-scores .sprint-name {
  background: #2f3642;
  color: #c3c6c9;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  text-align: start;
  padding: 1px 16px;
  font-weight: 500;
  font-style: Medium;
  line-height: 1;
  letter-spacing: 0%;
  vertical-align: middle;
}
.sprints-scores .cell {
  height: 30px;
  width: 30px;
  background: #e9e9e9;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;
}
.sprints-scores .cell:hover {
  transform: scale(1.1);
}

.section-table-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #ffffff;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.section-table-title::before {
  content: "";
  flex: 1;
  height: 1px;
  border-bottom: 0.5px solid #ffffff;
  opacity: 0.25;
  margin-bottom: 32px;
  margin-top: 32px;
}

.comments h2 {
  color: #80b4ff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}
.comments {
  display: flex;
  flex-direction: column;
}

.comments::before {
  content: "";
  flex: 1;
  height: 1px;
  border-bottom: 0.5px solid #ffffff;
  opacity: 0.25;
  margin-bottom: 32px;
  margin-top: 32px;
}

.comments-slider {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 16px;
}

.comment-card {
  min-width: 80%; /* 👈 ключевой момент */
  max-width: 80%;
  flex-shrink: 0;
  scroll-snap-align: start;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 12px;
  padding: 16px;
  border: 0.5px solid rgb(146, 156, 168);
  font-weight: 300;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: rgb(201, 201, 201);
  display: flex;
  flex-direction: column;
}

.comments-slider::-webkit-scrollbar {
  display: none;
}

.comment-title {
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 1.35;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.25);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.comment-title .comment-task {
  font-weight: 300;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgb(217, 181, 74);
}
.comment-title .comment-task::before {
  content: "";
  flex: 1;
  height: 100%;
  border-left: 0.5px solid #ffffff;
  opacity: 0.25;
  margin: 0 8px;
}

.comment-date {
  margin-bottom: 0;
  margin-top: auto;
  margin-left: auto;
}

.custom-select {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.select-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0d47a1;
  border-radius: 40px;
  padding: 16px 20px;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

/* 🔥 БЛЮР КРУЖКИ */
.select-header::before,
.select-header::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  filter: blur(30px);
  z-index: 0;
}

.select-header::before {
  width: 120px;
  height: 120px;
  background: rgba(0, 150, 255, 0.4);
  top: -40px;
  left: -20px;
}

.select-header::after {
  width: 80px;
  height: 80px;
  background: rgba(0, 100, 255, 0.5);
  bottom: -30px;
  right: -10px;
}

.select-title {
  position: relative;
  z-index: 1;
}

/* 🔥 поворот стрелки */
.custom-select.open .select-arrow {
  transform: rotate(90deg);
}

.select-dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  background: #0d47a1;
  border-radius: 20px;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s;
}

/* открытие */
.custom-select.open .select-dropdown {
  max-height: 400px;
}

.select-option {
  padding: 12px 16px;
  color: white;
  cursor: pointer;
}

.select-option:hover {
  background: rgba(255, 255, 255, 0.1);
}

.table {
  width: calc(100% + 4px);
  margin-left: -2px;
  border-collapse: separate;
  border-spacing: 2px;
  table-layout: fixed;
}

th {
  background: #005de0;
  color: white;
  border-radius: 8px;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
}

.thStudent {
  text-align: left;
  padding-left: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
  min-width: 110px;
}

.student-index {
  width: 40px;
  color: #f3c969;
  font-weight: 600;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}

.student {
  background: #2f3642;
  text-align: left;
  padding-left: 14px;
  cursor: pointer;
  color: #c3c6c9;
  font-style: Medium;
  vertical-align: middle;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0%;
}

.student:hover {
  background: rgba(255, 255, 255, 0.05);
}

td {
  border-radius: 8px;
  text-align: center;
}

.cell {
  height: 30px;
  background: #e9e9e9;
  border-radius: 6px;
  font-weight: 600;
  line-height: 36px;
  padding: 0;
  transition: 0.3s;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
}

.cell:hover {
  transform: scale(1.1);
}

.student,
.student-index {
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.th-trophy {
  background-color: #b38e44;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 0;
}
.th-trophy svg {
  display: block;
  margin: 0 auto;
}

.scors-futter {
  font-weight: 300;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #ffffff;
}
.scors-futter p {
  opacity: 0.5;
}
.scors-futter {
  display: flex;
  flex-direction: column;
}

.scors-futter::before {
  content: "";
  flex: 1;
  height: 1px;
  border-bottom: 0.5px solid #ffffff;
  opacity: 0.25;
  margin-bottom: 32px;
  margin-top: 32px;
}

.under_top-item {
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 0.2);
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 40px;
  margin-top: 8px;
}
.under_top-item p {
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  opacity: 50%;
}

.under_top__st-page {
  display: flex;
  justify-content: space-between;
}
.under_top__st-page ul {
  display: flex;
  gap: 4px;
}
.under_top__st-page .icon-cat {
  padding: 5px;
  border-radius: 4px;
  background: #3c434d;
  color: #d9d9d9;
  transition: color 0.25s ease, filter 0.25s ease;
}
.under_top__st-page .yellow-cat {
  background: linear-gradient(180deg, #a87e00 0%, #423d2c 100%);
  border: 0.1px solid rgb(217, 181, 74);
  box-shadow: 0px 0px 10.01px 0px rgb(217, 181, 74);
  fill: #d9b54a;
  color: #d9b54a;
}
.under_top__st-page .green-cat {
  background: linear-gradient(180deg, rgba(28, 255, 236, 0.5) 0%, rgba(0, 150, 224, 0.5) 100%);
  border: 0.1px solid rgb(91, 201, 192);
  box-shadow: 0px 0px 10.01px 0px rgb(91, 201, 192);
  color: #5bc9c0;
  fill: #5bc9c0;
}
.under_top__st-page .blue-cat {
  background: linear-gradient(270deg, #0046a8 0%, #0054c9 100%);
  border: 0.1px solid rgb(82, 149, 242);
  box-shadow: 0px 0px 10.01px 0px rgb(82, 149, 242);
  color: #5295f2;
  fill: #5295f2;
}
.under_top__st-page .blue-cat:hover {
  color: #579dff;
  filter: drop-shadow(0 0 6px #579dff);
}

.stroke-section {
  display: flex;
  justify-content: space-around;
  margin-top: 28px;
}
.stroke-section h3 {
  color: #ffffff;
  line-height: 1.2;
  font-weight: 300;
}
.stroke-section .persents {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-right: 6px;
}
.stroke-section .persents-blue {
  display: inline-block;
  color: #579dff;
  margin-bottom: 4px;
}
.stroke-section .persents-yellow {
  color: #d9b54a;
}
.stroke-section .persents-red {
  display: inline-block;
  color: #c98585;
  margin-bottom: 4px;
}
.stroke-section .persents-green {
  color: #5bc9c0;
}
.stroke-section .stats-title {
  padding-left: 6px;
  border-left: 1px solid #646a73;
}
.stroke-section canvas {
  margin-bottom: 12px;
}

.top-canvas-title {
  font-weight: 300;
  color: #a7a8a3;
  margin-bottom: 12px;
}

.line-st {
  color: #ffffff;
  opacity: 25%;
}

.costs {
  margin-top: 32px;
}
.costs li {
  margin-bottom: 8px;
  border: 0.5px solid #929ca8;
  padding: 4px 16px;
  border-radius: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 12px;
}
.costs .letter {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0%;
  vertical-align: middle;
  opacity: 25%;
  padding-right: 12px;
  border-right: 0.5px solid #929ca8;
  width: 32px;
  text-align: center;
  flex: 0 0 32px;
}
.costs .letter-title {
  font-weight: 300;
  min-width: 0;
}
.costs .leter-persent {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: bottom;
  opacity: 50%;
  flex: 0 0 44px;
  text-align: right;
}
.costs .line-leter {
  min-width: 10px;
  flex: 1 1 auto;
  height: 1px;
  border-bottom: 0.5px solid #ffffff;
  opacity: 0.25;
}

.midle-scors {
  margin-top: 12px;
  display: flex;
  gap: 6px;
  color: #ffffff;
  font-weight: 300;
}
.midle-scors div {
  border: 0.5px solid rgb(146, 156, 168);
  flex: 1;
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.midle-scors .midle-scors_top {
  font-weight: 500;
  opacity: 25%;
}
.midle-scors .midle-scors_midle {
  font-weight: 600;
  font-size: 32px;
  color: rgb(217, 181, 74);
  display: flex;
  flex-direction: column;
}
.midle-scors .midle-scors_midle::after {
  content: "";
  flex: 1;
  height: 1px;
  border-bottom: 0.5px solid #ffffff;
  opacity: 0.25;
  margin-bottom: 6px;
}

.midle-scors-general {
  border: 0.5px solid rgb(146, 156, 168);
  width: 100%;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  font-family: Geologica;
  font-weight: 300;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0%;
  text-transform: uppercase;
  align-items: center;
  border-radius: 8px;
}

.midle-scors_num {
  font-weight: 600;
  font-size: 32px;
  color: rgb(217, 181, 74);
  line-height: 0.7;
}

.stroke-section {
  display: flex;
  gap: 12px;
}

.stroke-section > div {
  flex: 1;
}

.stroke-section canvas {
  aspect-ratio: 1/1;
  width: 100%;
  aspect-ratio: 1/1;
  display: block;
}

.landing-main-img {
  padding-top: 96px;
}

.landing-main-title {
  font-weight: 300;
  font-style: Light;
  font-size: 20px;
  line-height: 0.9;
  letter-spacing: -2%;
  text-align: center;
  vertical-align: bottom;
  color: #dcdfe3;
  margin-top: 16px;
  margin-bottom: 16px;
}

.goRegister {
  display: flex;
  align-items: center;
  justify-content: center; /* текст по центру */
  width: 100%;
  max-width: 400px;
  background-color: rgb(1, 52, 128);
  border-radius: 40px;
  padding: 22px 20px;
  color: white;
  cursor: pointer;
  position: relative;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 0.9;
  letter-spacing: -2%;
  vertical-align: bottom;
}

.arrow-circle {
  position: absolute;
  right: 8px;
  top: 8px;
  bottom: 8px;
  aspect-ratio: 1/1; /* делает круг */
  border-radius: 50%;
  background: linear-gradient(90deg, #005de0 0%, #3388ff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* стрелка */
.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.landing-main-img {
  padding-top: 48px;
  flex: 1;
}

.select-arrow {
  width: 20px;
}

.goLogin {
  margin-top: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
}

.reg-container {
  margin: 0;
  margin-top: auto; /* 🔥 ВОТ МАГИЯ */
  padding-bottom: 16px;
}

.gr {
  background-color: rgb(0, 93, 224);
}

.students {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.register-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1;
}

.register-top {
  display: flex;
  margin-top: 34px;
  gap: 12px;
}
@media screen and (max-width: 380px) {
  .register-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.register-top .avatar {
  border: 0.5px solid #929ca8;
  border-radius: 16px;
}
.register-top h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 0.94;
  color: #c3c5c9;
  margin-bottom: 8px;
}
.register-top p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #a3a5a8;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.register-form input {
  width: 100%;
  padding: 8px 0px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: transparent;
  color: rgba(163, 165, 168, 0.66);
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  text-indent: 40px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2509803922);
}

.register-form .row {
  display: flex;
  gap: 8px;
}

.register-form .gray-input {
  background: #b1b3b5;
  border: 1px solid #b1b3b5;
  color: black;
}

.register-form input::-moz-placeholder {
  color: rgba(163, 165, 168, 0.66);
}

.register-form input::placeholder {
  color: rgba(163, 165, 168, 0.66);
}

.register-form .gray-input::-moz-placeholder {
  color: rgba(52, 53, 54, 0.66);
}

.register-form .gray-input::placeholder {
  color: rgba(52, 53, 54, 0.66);
}

.register-form .dark-input:focus {
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  outline: none;
}

.register-form .gray-input:focus {
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  outline: none;
}

.roles {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  justify-content: start;
}

.roles label {
  cursor: pointer;
}

/* полностью скрыли input */
.roles input {
  display: none;
}

/* это и есть "кнопка" */
.roles span {
  display: block;
  text-align: center;
  padding: 8px 18px;
  border-radius: 4px;
  background: #646a73;
  border: 1px solid #2a2d35;
  color: #ebebeb;
  transition: all 0.2s ease;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  max-width: 78px;
}

.roles span:hover {
  border-color: #003580;
  color: #fff;
}

/* активная кнопка */
.roles input:checked + span {
  background: rgb(75, 80, 87);
  color: #fff;
  border-color: rgb(75, 80, 87);
}

.terms {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 12px;
  color: #a3a5a8;
  margin-top: 8px;
  cursor: pointer;
}
.terms span {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.35;
  vertical-align: middle;
}

/* убираем дефолт */
.terms input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%; /* 👈 круг */
  border: 2px solid #646a73;
  background: transparent;
  cursor: pointer;
  margin-top: 3px;
  position: relative;
  flex-shrink: 0;
}

.terms input::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #646a73;
}

.terms input:checked::after {
  background: #b1b3b5;
}

.reg-btn {
  margin-top: auto;
}

.login-link {
  text-align: center;
  margin-top: 24px;
  font-size: 14px;
  color: #646a73;
  font-weight: 400;
  line-height: 1.2;
  vertical-align: middle;
}

.login-link a {
  color: #a3a5a8;
  text-decoration: none;
  margin-left: 4px;
}

.login-link a:hover {
  text-decoration: underline;
}

.prof-nav {
  margin-top: 20px;
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.prof-nav {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 👈 2 в ряд */
  gap: 8px;
  margin-top: 48px;
}

.prof-nav-btn {
  display: flex;
  flex-direction: column; /* 👈 иконка сверху, текст снизу */
  align-items: flex-start;
  width: 100%;
  height: 109px;
  padding: 16px;
  gap: 8px;
  border-radius: 8px;
  border: 0.5px solid rgba(146, 156, 168, 0.5);
  background: rgba(255, 255, 255, 0.04);
  cursor: pointer;
}
.prof-nav-btn span {
  transition: 0.2s;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #dcdfe3;
  text-align: start;
}

.prof-nav-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(146, 156, 168, 0.5);
}

.profile-svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0; /* 👈 ключ */
}

.profile-top {
  display: flex;
  margin-top: 34px;
  gap: 12px;
}
.profile-top .avatar {
  border: 0.5px solid #929ca8;
  border-radius: 16px;
}
.profile-top > div {
  display: flex;
  flex-direction: column;
}
.profile-top .stud-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 0.95;
  letter-spacing: 0%;
  color: #c9c9c9;
  margin-bottom: 12px;
}
@media (max-width: 400px) {
  .profile-top .stud-name {
    margin-bottom: 8px;
    font-size: 20px;
  }
}
.profile-top p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0%;
  color: #a3a5a8;
}

.stud-role {
  display: block;
  background: rgba(217, 217, 217, 0.2);
  width: 100%;
  border-radius: 100px;
  font-family: Geologica;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0%;
  text-align: center;
  height: 24px;
  padding: 4px;
}

.stud-scores {
  margin-top: 30px;
}
@media (max-width: 400px) {
  .stud-scores {
    margin-top: 12px;
  }
}
.stud-scores {
  display: flex;
  flex-direction: column;
}
.stud-scores p {
  padding: 4px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.25);
}
.stud-scores .stud-score {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
  vertical-align: bottom;
  display: flex;
  align-items: center;
  min-width: 40px;
  color: #d9b54a;
}
.stud-scores .stat-title {
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  padding-left: 8px;
  font-family: Geologica;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.6;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #6f86a7;
}

@media (max-width: 400px) {
  .avatar {
    width: 140px;
  }
}

.matireals .blue {
  font-weight: 400;
  font-size: 14px;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgb(128, 180, 255);
}